<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Trip Report' | translate}}</ion-title>
    <ion-buttons end *ngIf="TripReportData.length > 0">
      <!-- <button ion-button style="background: white; color: #0072BA;" small (click)="OnExport()">{{"Export To
        Excel" | translate}}</button> -->
      <button ion-button icon-only style="color: #fff;" small (click)="OnExport()">
        <img style="width: 20px;" type="image/svg+xml" src="assets/icon/microsoft-office-mac-tilt-excel-icon-17.svg"
          *ngIf="pltStr === 'ios'">
        <ion-icon name="custom-excel" *ngIf="pltStr !== 'ios'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-item style="height: 45px; background-color: #fafafa;" *ngIf="portstemp.length != 0">
    <ion-label style="margin-top: 15px;">{{"Select Vehicle" | translate}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getTripdevice(selectedVehicle)" [isMultiple]="true">
    </select-searchable>
  </ion-item>
  <ion-row style="background-color: #fafafa;">
    <ion-col style="text-align: center;">
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('today')">{{"Today" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('yest')">{{"Yesterday" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('week')">{{"Week" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('month')">{{"Month" | translate}}</button>
    </ion-col>
  </ion-row>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{"From Date" | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater"
          [max]="today" [(ngModel)]="datetimeStart" style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{"To Date" | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>
    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getTripReport();"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content [ngClass]="{ 'masters': portstemp.length != 0,'masters1': portstemp.length == 0 }">

  <ion-card *ngFor="let tripdata of TripReportData; let i = index" style="border-radius: 5px;"
    (click)="tripReview(tripdata)">
    <ion-item>
      <ion-label item-start>{{tripdata.Device_Name}}</ion-label>
      <ion-badge item-end color="gpsc">
        {{tripdata.distance | number : '1.0-2'}}{{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}
      </ion-badge>
    </ion-item>
    <ion-card-content>
      <ion-row>
        <ion-col col-8 padding-right>
          <ion-row>
            <ion-col col-1>
              <ion-icon name="time" color="secondary" style="font-size: 15px;"></ion-icon>
            </ion-col>
            <ion-col col-11>
              <p style="margin: 0px;font-size: 0.8em;font-weight: 600;"> {{ tripdata.start_time | date:'medium' }}</p>
            </ion-col>
          </ion-row>
          <ion-row style="height: 42px; overflow: hidden;text-overflow: ellipsis;">
            <ion-col col-1>
              <ion-icon name="pin" color="secondary" style="font-size: 15px;"></ion-icon>
            </ion-col>
            <ion-col col-11 (onCreate)="start_address(tripdata, i)" style="font-size: 0.8em;">
              <div class="overme">
                {{ tripdata.StartLocation }}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1>
              <ion-icon name="time" color="danger" style="font-size: 15px;"></ion-icon>
            </ion-col>
            <ion-col col-11>
              <p style="margin: 0px;font-size: 0.8em; font-weight: 600;"> {{ tripdata.end_time | date:'medium' }}</p>
            </ion-col>
          </ion-row>
          <ion-row style="height: 42px; overflow: hidden;text-overflow: ellipsis;">
            <ion-col col-1>
              <ion-icon name="pin" color="danger" style="font-size: 15px;"></ion-icon>
            </ion-col>
            <ion-col col-11 (onCreate)="end_address(tripdata, i)" style="font-size: 0.8em;">
              <div class="overme">
                {{ tripdata.EndLocation }}
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-4>
          <ion-thumbnail item-end>
            <img src="assets/imgs/5Jzwb.png" height="70" width="70">
          </ion-thumbnail>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-row style="background-color:#f2f2f2; padding-top:5px; padding-bottom: 5px" padding-left padding-right>
      <ion-col col-6 style=" color:gray; font-weight: bold; text-align: left;">{{tripdata.Startdate}}</ion-col>
      <ion-col col-6 style=" color:gray; font-weight: bold; text-align: right;font-size: small;" *ngIf="tripdata.duration">
        DURATION&nbsp;{{tripdata.duration}}</ion-col>
      <ion-col col-6 style=" color:gray; font-weight: bold; text-align: right;font-size: small;" *ngIf="!tripdata.duration">
        DURATION&nbsp;0hrs 0mins</ion-col>
    </ion-row>
  </ion-card>

</ion-content>
<ion-footer class="footSty">
  <ion-toolbar>
    <ion-row no-padding>
      <ion-col width-50 style="text-align: center; border-right: 1px solid white; padding: 0px !important">
        <p style="color: white; margin:0px; padding:0px">
          {{ totalKm | number : '1.0-2' }} {{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}
        </p>
        <p style="color: white; margin:0px; padding:0px">
          {{ "Total" | translate }}
        </p>
      </ion-col>
      <ion-col width-50 style="text-align: center; padding: 0px !important">
        <p style="color:#ffffff; margin:0px; padding:0px">
          {{ totalDuration }}
        </p>
        <p style="color:#ffffff; margin:0px; padding:0px">
          {{ "Total" | translate }}
        </p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
