page-trip-report {
  .label-md {
    font-size: 12px;
  }
  .masters {
    background-color: #f2f2f2;
    top: 6%;
  }
  .masters1 {
    background-color: #f2f2f2;
    top: 0%;
  }

  .colSt2 {
    height: 7.4rem;
    width: 80%;
    padding: 0px;
  }
  //  .overme {
  //    height: 20px;
  //  }
  // .overme {
  //     padding-right: 2px;
  //     padding-left: 13px;
  //     width: 230px;
  //     line-height: normal;
  //     overflow:hidden;
  //     font-size: 11px;
  //     color: black;
  //     white-space:nowrap;
  //     text-overflow: ellipsis;
  //  }

  // .overme {
  //     white-space: normal;
  //     display: -webkit-box;
  //     -webkit-line-clamp: 2;
  //     -webkit-box-orient: vertical;
  // }

  // .overme span {
  //     position: absolute;
  //     left: 0;
  //     padding-left: 10px;
  // }
  // p {
  //     font-size: 1em;
  //     color: black;
  // }
  // p span{
  //     color: #2F3030;
  //     font-weight: 500;
  //     font-size: 0.9em;
  // }
  .col {
    padding: 0px;
  }
  // .item-md ion-thumbnail img,
  // .item-ios ion-thumbnail img {
  //     width: 60px;
  //     height: 60px;
  // }
  ion-thumbnail {
    margin: 0px !important;
    padding: 0px !important;
  }
  .item-md,
  .item-ios {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
